body{
  font-family: 'Montserrat', sans-serif;
}

.vh100 {
  height: 100vh;
}

.textLeft {
  text-align: justify;
}

li {
  margin-bottom: 30px;
}








/* ############ */
/* ## NAVBAR ## */
/* ############ */

#navbar {
  background-color: black;
  /* padding-bottom: 10px; */
}

#navbar-pg {
  padding-right:  50px;
}

#navbar-pg a{
  color :#ffe227;
}

#navbar-pg a:hover,a:active {
  color:#fff;
}

.vl {
  margin:5px;
  border-left:3px solid #fff;
  height: 30px;
  display: inline-block;
}

.navbar-next a {
  text-decoration: none;
  color: #fff;
}

.navbar-next li {
  display: table-cell;
  position: relative;
  padding: 15px 0;
}
.navbar-next  a {
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.navbar-next  a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #ffe227;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.navbar-next a:hover:after {
  width: 50%;
  left: 20%;
}

@media screen and (max-height: 300px) {
	ul {
		margin-top: 40px;
	}
}

.navbar-next i {
  margin-top: 20px;
  color :#fff;
}

.me-2 {
  height:40px;
  margin-top: 20px;
}

.d-flex a{
  padding-top: 30px;
}

.fa-search{
  color: #fff;
}







/* quick links */
#mySidenav div {
  position: fixed;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 120px;
  height:180px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav div:hover {
  left: 0;
}

#side-link {
  top: 100px;
  /* display: inline-block; */
  background-color:#dddddd;
}
#side-link a{
text-decoration:none;
color:#0a043c;
display: block;

padding-bottom: 10px;
}
#side-link a:hover{
  color:#8b5e83;
}



/* #################### */
/* ## HERO CARAOUSEL ## */
/* #################### */

.clippedImgContainer {
  clip-path: polygon(0 0, 100% 0%, 100% 72%, 50% 100%, 0 72%);
}

.bgBlue {
  height: 150vh;
  background-color: #101820;
  position: relative;
  top: -300px;
  z-index: -1;
}








/* ########## */
/* ## NEWS ## */
/* ########## */

.news {
  height: 50vh;
}

.news-container {
    margin-top: 250px;
    z-index: 1;
    height: 200px;
    background-color: #fff;
}

.news-container-blueTop {
    height: 20px;
    background-color: #2f77be;
    margin-bottom: 20px;
}

.news-container-links {
    height: 60px;
    box-shadow: 0px 0px 30px -20px #1018206b;
    background-color: #fff;
    text-align: left;
}

#news-slider {
    overflow: hidden;
}

#news-slider .card {
    margin-left: 30px;
    text-align: left;
    z-index: 8;
    height: 150px;
    overflow: hidden;
    border: 0;
    box-shadow: 10px 0px 10px -12px #1018201e;
}

#news-slider .card-title{
    font-weight: 400;
    font-size: 0.9rem;
    color: #101820;
}

#news-slider .card-text {
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    color: #77a4d1;
}

#news-slider .card::before{
    all: unset;
}

.news-container-links>* {
    margin-top: 20px;
    margin-left: 50px;
}

.news-container-links a {
    text-decoration: none;
    font-weight: 500;
    color: #101820;
}

.news-container-links .fa-link {
    color: #2f77be;
    font-size: 20px;
}








/* ############ */
/* ## EVENTS ## */
/* ############ */

.events{
  position: relative;
  top: 200px;
}

.outer-circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #3e64ff;
  margin-bottom: 30px;
  position: relative;
  left: 25px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
}

.outer-circle h4 {
  padding:35px;
  text-align: center;
  color:#fff;
}

.rectangle {
  width:170px;
  height:180px;
  background-color:#fff;
  padding: 12px;
  text-align: center;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
}

.rectangle a {
  text-decoration: none;
  color: #3e64ff;
}

.rectangle .date {
  margin-top: 25px;
  color: #666;
  font-size: 12px;
  font-weight: 700;
}

.outer-circle:hover {
  background:#fff;
}

.outer-circle:hover h4 {
  color:#3e64ff;
}

.outer-circle:hover + .rectangle {
  background:#3e64ff;
}

.outer-circle:hover + .rectangle h5 {
  color:#ffbe0f;
}

.rectangle:hover {
  background:#3e64ff;
}

.rectangle:hover h5{
  color:#ffbe0f;
}

.rectangle:hover h4,.rectangle:hover p{
  color:#fff;
}









/* ################ */
/* ## BACKGROUND ## */
/* ################ */

.grayBg {
  background-color: #eee;
}

.about_img {
  width: 100%;
  height: 100%;
}








/* ############# */
/* ## HEADING ## */
/* ############# */

.heading {
  color: #2f77be;
  font-weight: 700;
  text-align: center;
}

.sub-heading {
  text-align: center;
}

.underline {
  height: 3px;
  background-color: white;
  width: 200px !important;
  margin: auto;
  margin-bottom: 80px;
}

.underline-red {
  background-color: rgb(221, 52, 52);
}

.viewMore {
  height: 90px;
  width: 90px !important;
  position: absolute;
  right: 100px;
  border-radius: 50%;
  border: 5px solid #ebd506;
  text-decoration: none;
}

.viewMore p {
  margin: 8px;
  margin-top: 15px;
  font-weight: 500;
}

.viewMore:hover {
  background-color: #ebd506;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-out;
}








/* ########### */
/* ## CARDS ## */
/* ########### */

.card {
  height: 350px;
  overflow: hidden;
}

.card-img-top{
  overflow: hidden;
  z-index: 1;
}

.card-title{
  font-weight: 700;
  color: #7e7306;
}

.card-body {
  z-index: 2;
}

.card-text {
  font-size: 0.8rem;
}

.card::before{
  content: "";
  z-index: 1;
  position: absolute;
  bottom: -40px;
  right: -40px;
  background: #ebd506;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  transform: scale(1);
  transition: transform 0.25s ease-out;
}

.card:hover::before{
  transform: scale(7);
}

.card:hover .card-text{
  color: #fff
}

.read-more {
  position: absolute;
  bottom: 15px;
  right: 15px;
  line-height: 1rem;
  text-decoration: none;
  color: #7e7306;
}

.read-more:hover{
  color: #fff;
}








/* ############## */
/* ## PARALLAX ## */
/* ############## */

.bgBlueImg {
  color: white;
  background-image: url(./Images/srm_gate.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.admissnBtn {
  text-align: left;
  padding: 20px;
  height: 100px;
  width: 250px;
  font-size: 1.25rem;
  font-weight: 700;
  background-color: white;
  color: #101820;
}








/* ############ */
/* ## FOOTER ## */
/* ############ */

footer {
  width:100%;
  padding: 3rem;
  background-color: #101820;
}

.social-media a {
  text-decoration: none;
  color:#ddd;
  padding: 10px;
  font-size: 25px;
}

.social-media a:hover {
  text-decoration: none;
  color:#fff;
  background-color: #3e65ff23;
  border-radius: 20%;
  padding: 10px;
}

.footer-links a {
  text-decoration: none;
  line-height: 2rem;
  color: #ccc;
  font-weight: 200;
  font-size: 0.9rem;
}

.footer-links a:hover {
  color: #fff;
}

.footer-links h5 {
  color: #ddd;
  margin-bottom: 20px;
  margin-top: 50px;
}

.footer_img {
  margin-top: 50px;
  width :100px;
  margin-bottom: 20px;
  text-align: center;
}








/* ############### */
/* ## ACADEMICS ## */
/* ############### */

.deptBtn {
  border: 5px solid #ebd506;
  margin: 5px;
  padding: 10px;
  font-weight: 800;
  color: #ebd506;
}







/* ####################### */
/* ## RESEARCH CAROUSEL ## */
/* ####################### */

#research-slider {
  overflow: hidden;
}

#research-slider .card {
  margin: 15px;
}
